@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: url(../imgs/slider-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.header {
  background-color: black;
}
.header .menu a {
  height: 20px;
  display: block;
}
.header .menu i {
  font-size: 22px;
  line-height: 22px;
}

.login-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 400;
  background: rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-modal .container {
  // background: #fff;
  height: 500px;
  max-width: 600px;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  margin-top: -14vw;
}
.WaveCircle {
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0fff3;
  margin-bottom: 30px;
}

.wave-main .amount span {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.wave-main .amount {
  margin-top: 18px;
  font-size: 23px;
  color: #fff;
  font-weight: bold;
}
.wave-main {
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.MainModalWrapper .modal-header {
  position: relative;
  .close {
    position: absolute;
    right: 20px;
    span {
      font-size: 30px;
      color: #fff;
    }
  }
  .modal-title {
    width: 100%;
    text-align: center;
  }
}

.MainModalWrapper .modal-dialog {
  max-width: 80% !important;
  min-height: 80vh;
}
.MainModalWrapper .modal-content {
  box-shadow: none;
  // background: #71cbffcf;
  background-image: linear-gradient(60deg, #2cabdb, #023a85);

  color: #fff;
  border-radius: 11px !important;
}

.currencyField {
  position: relative;
  .labelCurr {
    color: #007bff;
    font-weight: bold;
    right: 18px;
    position: absolute;
    top: 8px;
  }
}

.WalletAddress {
  position: relative;
  color: #007bff;
  div {
    background: #fee4d89e;
    padding: 20px;
  }
  .copy {
    color: #007bff;
    font-weight: bold;
    right: 3px;
    position: absolute;
    cursor: pointer;
    top: 18px;
    background: #bcb5b5;
    padding: 3px 9px;
    border-radius: 10px;
  }
}
.modalTitle {
  color: #000;
  text-align: center;
  padding-top: 25px;
}

.loginBody {
  background: #fff;
  min-width: 500px;
}

.fff {
  color: #fff;
}

.btnMain {
  background: blue;
  background-image: linear-gradient(to right, #003682, #30b5e2);
  border-radius: 13px !important;
  color: #fff !important;
  border: none !important;
  border: none;
  padding: 3px 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    background-image: linear-gradient(to right, #032d69, #44f1bd) !important;
    box-shadow: 0 0 6px 1px #00000024;
  }
}

.newWoletContainer {
  min-width: 500px;
  textarea {
    width: 90%;
    height: 203px;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 6px 1px #00000024;
  }
}

.app {
  display: flex;
  > .container {
    margin-left: 200px;
    max-width: calc(100% - 200px);
  }
}
.header {
  position: fixed;
  width: 201px !important;
  min-height: 100vh;

  justify-content: space-between;
  height: 100%;
  display: flex;
  flex-direction: column;
  // background: blue;
  background-image: linear-gradient(60deg, #2cabdb, #023a85);
  ul.menu {
    margin-top: 30px;
    padding-left: 0;
    list-style: none;
    width: 170px;
    li {
      height: 50px;
      width: calc(100% + 30px);
      margin: auto;
      transform: translateX(-15px);
      border-bottom: 1px solid #fff;

      display: flex;
      align-items: center;
      &:hover,
      &.active {
        background: #6bfde042;
      }
      &:last-child {
        border: none;
      }
    }

    a {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      span {
        display: inline-block;
        // text-align: center;
        width: 60px;
        margin-left: 10px;
      }
    }
  }
}
.walletBtn {
  button {
    font-size: 17px !important;
    max-width: 200px;
    width: 200px;
    border-radius: 13px !important;
  }
}

.transactionsList::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.transactionsList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.transactionsList::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.transactionsList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.transactionsList {
  color: #fff;
  margin-top: 30px;
  max-height: calc(100vh - 395px);
  overflow-y: auto;
  padding: 5px;

  > div {
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    .left {
      font-weight: bold;
      line-height: 20px;
      text-transform: uppercase;
      svg {
        align-self: flex-end;
        margin-bottom: 5px;
        margin-left: 10px;
      }
    }
    .right {
      font-weight: bold;

      // align-self: flex-end;
    }
  }
}

.mnemonicContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  > div {
    max-width: calc(35% - 20px);

    margin: 6px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      display: inline-block;
      width: 30px;
      // margin-right: 10px;
    }
    input {
      max-width: calc(100% - 30px);

      border-color: #30b5e2;
      border-radius: 5px;
      padding-left: 5px;
    }
  }
}

.walletInfo {
  padding: 15px;
  border: 1px solid #000;
  max-width: 500px;
  span {
    font-size: 13px;
  }
}

/////////////

.bold {
  font-weight: bold !important;
}

.textCapital {
  text-transform: capitalize !important;
}

.transactionsMiddle {
  max-width: 300px;
  &.active {
    .address {
      // overflow: hidden;
      width: 100%;
      word-break: break-all;
      // text-overflow: ellipsis;
      margin-bottom: 15px;
    }
  }
  .copy {
    border-radius: 50px;
    margin-bottom: 20px;
    /* color: #fff; */
    border: 2px solid #fff;
    /* height: 30px; */
    padding: 7px 37px;
  }
  .address {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }
}

.accounts {
  max-height: 285px;
  overflow: auto;
  background: rgb(25, 66, 117);
  .accountItem {
    background: #0000004a;
  }
}
