body {
  background: url(../imgs/slider-bg.jpg);
}

.cursor-pointer {
  cursor: pointer;
}

.header {
  background-color: black;
}
.header .menu a {
  height: 20px;
  display: block;
}
.header .menu i {
  font-size: 22px;
  line-height: 22px;
}

.login-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 400;
  background: rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-modal .container {
  background: #fff;
  height: 500px;
  max-width: 600px;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}
.WaveCircle {
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0fff3;
  margin-bottom: 30px;
}

.wave-main .amount span {
  font-weight: bold;
  font-size: 24px;
}
.wave-main .amount {
  font-size: 23px;
  color: #3aa3da;
}
.wave-main {
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
.wave-main .btn-group button {
  border-radius: 50px !important;
  min-width: 190px;
}
